<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>

    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>

    <script src="../js/base_pagination.js"></script>
    <script src="../js/service/seckillOrderService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/seckillOrderController.js"></script>

</head>

<body ng-app="pinyougou" ng-controller="seckillOrderController" ng-init="findAll()"  class="hold-transition skin-red sidebar-mini" >
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">秒杀订单管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <!--<button type="button" class="btn btn-default" ng-click="add()" title="新建" ><i class="fa fa-trash-o"></i> 新建</button>-->
                    <button type="button" class="btn btn-default" ng-click="delete()" title="删除" ><i class="fa fa-check"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <!-- '状态：1、未付款，2、已付款，3、未发货，4、已发货，5、交易成功，6、交易关闭,7、待评价',-->
        <div class="box-tools pull-right">
            <div class="has-feedback">
                订单号：<input ng-model="searchEntity.id" >
                状态： <select ng-model="searchEntity.status">
                <option  value="">全部</option>
                <option  value="1">已付款</option>
                <option  value="2">未发货</option>
                <option  value="3">已发货</option>
                <option  value="4">交易成功</option>
                <option  value="5">交易关闭</option>
                <option  value="6">待评价</option>
            </select>


                <button class="btn btn-default" ng-click="paginationConf.currentPage=1;reloadList()" >查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">订单ID</th>
                <th class="sorting">秒杀商品id</th>
                <th class="sorting">支付金额</th>
                <th class="sorting">用户</th>
                <th class="sorting">商家</th>
                <th class="sorting">创建时间</th>
                <th class="sorting">支付时间</th>
                <th class="sorting">支付状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input ng-click="updateSelection($event, entity.id)" type="checkbox"></td>
                <td>{{entity.id}}</td>
                <td>{{entity.seckillId}}</td>
                <td>{{entity.money}}</td>
                <td>{{entity.userId}}</td>
                <td>{{entity.sellerId}}</td>
                <td>{{entity.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{entity.payTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{entity.status}}</td>
                <td class="text-center">
                    <a href="seckillOrder_edit.html#?id={{entity.id}}" class="btn bg-olive btn-xs">详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->


    </div>
    <!-- 数据表格 /-->
    <tm-pagination conf="paginationConf"/>


</div>
<!-- /.box-body -->

</body>

</html>